# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/bin
/brown-clusters
/clusters.txt
/accents.txt
/lib
/suggestions.txt
/getOOV.sh
/hun_tweets_2015_10_2016_02.lemmas
/hun_tweets_2015_10_2016_02.tokenized
/hun_tweets_2015_10_2016_02.txt
/tweets_pruned.txt
/tweets.txt
/oov.txt
/jaccard.txt
/mostCommonOOV.txt
/accents.txt~
/getOOV.sh~
/hun_tweets_2015_10_2016_02.lemmas~
/hun_tweets_2015_10_2016_02.tokenized~
/most_common_oov.txt
/tweets_pruned_accents_lemmas_put.txt
/tweets_pruned_accents_put.txt
/tweets.txt~
/words.txt
/paths
/most_common_oov_accents_lemmas_put.txt
/most_common_oov_lemmas_put.txt
/oov_accents_lemmas_put.txt
/oov_lemmas_put.txt
/paths_accents_lemmas_put
/paths_lemmas_put
